.body{
    width: 100%;
    height: 100%;
    background-image: url(".\images\weather.jpg");
    padding-top: 1.5%;
}

.headerBox{
    width: 70vw;
    background-color: #315d8f;
    border-radius: 5px;
    margin-left: calc(30vw / 2);
}

.loading{
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
    padding-top: calc(100vh / 3.75);
    background-color: #282c34;
}

.spinner{
    height: 30vmin;
    width: 30vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .spinner {
        animation: Spinner-spin infinite 20s linear;
    }
}

@keyframes Spinner-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.header{
    color: white;
    padding: 1% 0;
    text-align: center;
}

.tile{
    width: 25rem;
    height: 17.4rem;
    margin: 0 auto; 
    float: none; 
    margin: 1% auto 0 auto;
    background-size: 43%;
    background-image: url(".\images\na.png");   
}

.longTile:hover{
    opacity:1;
    width: 14rem;
    height: 20rem;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 10%;
}


.longTile{
    opacity:0.8;
    width: 14rem;
    height: 20.3rem;
    border-radius: 5px;
    margin: 1% auto 13% auto;
    background-size: 100%;
    background-image: url(".\images\na.png");
}
/* 524 */
@media only screen and (max-width: 524px){
    .longTile{
        width: 10rem;
        height: 12.3rem;
        margin: 1% auto 10% auto;
    }
    .longTile:hover{
        margin: 1% auto 10% auto;
        width: 10rem;
        height: 12.3rem;
    }
    .commonTileClass{
        background-size: 5rem 5rem;
    }
}

.bigTileClass{
    background-repeat: no-repeat, repeat;
    background-position: bottom center;
}

.commonTileClass{
    background-repeat: no-repeat, repeat;
    background-position: bottom center;
}

.commonBgdClass{
    background-position: bottom center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.tileClear, .tileSunny{
    background-image: url(".\images\sun.png");
}

.tileClouds{
    background-image: url(".\images\cloudy.png"); 
}

.tileRain{
    background-image: url(".\images\rain.png");
}

.tileSnow{
    background-image: url(".\images\snow.png"); 
}

.tileDrizzle{
    background-image: url(".\images\rain.png");
}

.tileHail{
    background-image: url(".\images\hail.png");
}

.tileMist{
    background-image: url(".\images\mistIcon.png");
}

.Clear{
    background-image: url(".\images\clearsky.png");
}

.Clouds{
    background-image: url(".\images\cloudysky.jpg");
}

.Snow{
    background-image: url(".\images\snow.jpg");
    background-position:center bottom;
}

.Rain{
    background-image: url(".\images\rain.jpg");
    background-position:center bottom;
}

.Hail{
    background-image: url(".\images\hail.jpg");
}

.Sunny{
    background-image: url(".\images\sunny.jpg");
}

.Drizzle{
    background-image: url(".\images\drizzle.png");
}  

.Mist{
    background-image: url(".\images\mist.png");
}

.na{
    background-image: url(".\images\weather.jpg");
}

